
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #813e9e;
  padding: 1em;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1em;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  margin-top: 20px;
}

.form-area, .todo-area {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: fit-content;
  padding: 8px 16px;
  border: none;
  background-color: #813e9e;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

#todoList {
  margin-top: 10px;
  list-style: none;
}

#todoList li {
  background-color: #eee;
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .nav-links {
    flex-direction: column;
  }
}
